%h2 Login

= form_tag home_path(@home), :method => :get do
    = label "Username"
    = text_field
    
    = label "Password"
    = password_field
    
<<<<<<< HEAD
    = submit_tag 'Submit'
=======
    = submit_tag 'Submit'
>>>>>>> f208b0de6a9dc8c2c8e5623813562cff337936ed
